<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/basic}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<section layout:fragment="custom-content">
    <h1>Users list</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>enabled</th>
            <th>last login</th>
        </tr>
        <tr th:each="user : ${users}">
            <!--/*@thymesVar id="user" type="com.example.mvcjavadeveloper2023.person.Person"*/-->
            <td th:text="${user.id}">1</td>
            <td th:text="${user.username}">kacper</td>
            <td th:text="${user.email}">testowy@emial.com</td>
            <td th:text="${user.enabled}">true</td>
            <td th:text="${#calendars.format(user.lastLoginDate,'yyyy.MM.dd hh:mm')}">wczoraj</td>

        </tr>
    </table>
</section>

</body>
</html>